body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  background-color: #e0c4b8; /* Cream */
  color: #333;
}

.container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background: #c25b6a; /* Hot Pink */
  position: fixed;
  top: 0;
  left: -250px;
  transition: left 0.3s ease-in-out;
  padding-top: 20px;
  color: white;
}

.sidebar.show {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  text-align: center;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  transition: background 0.3s;
  border-radius: 5px;
}

.sidebar ul li a:hover {
  background: #b07b8b; /* Rosewater */
}

#toggleSidebar {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #c25b6a; /* Hot Pink */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 5px;
}

#toggleSidebar:hover {
  background: #b07b8b; /* Rosewater */
}

.content {
  flex-grow: 1;
  padding: 50px;
  background-color: #88b8a3; /* Spearmint */
  margin-left: 250px;
  transition: margin-left 0.3s ease-in-out;
}

.hidden {
  display: none;
}

#search-device {
  background-color: #c25b6a; /* Hot Pink */
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  color: white;
  border-radius: 5px;
}

#search-device:hover {
  background-color: #b07b8b; /* Rosewater */
}

#device-list {
  margin-top: 20px;
  background: #ffffff55; 
  padding: 10px;
  border-radius: 5px;
}

/* Cihaz kartları için stil */
.device-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  width: 250px;
  display: inline-block;
  vertical-align: top;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.device-card h3 {
  margin-top: 0;
}

.device-card button {
  margin-top: 10px;
}
