body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  background-color: #1e1e1e;
  color: white;
}

.container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 250px;
  background-color: #003b5c;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  color: white;
  text-align: center;
}

.sidebar button {
  margin: 10px 0;
  padding: 10px;
  background-color: #007b9e;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #009fcc;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #005f73;
}

.hidden {
  display: none;
}

#search-device {
  background-color: #ffa600;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

#search-device:hover {
  background-color: #ffcc00;
}

#device-list {
  margin-top: 20px;
  background: #ffffff22;
  padding: 10px;
  border-radius: 5px;
}
